{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "styles.css" %}" >
  <link rel="stylesheet" href="{% static "dendrogram.css" %}" >
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
</head>

<body>
  <div id="wrapper">
    <header>
 
    </header>

      <nav class="navbar" role="navigation">

        <div class="navbar-header">
          <a class="navbar-brand brand" ><img src="{% static "KlusterLogo.png" %}"></a>
        </div>

        <div>

          <ul class="nav nav-pills navbar-right pills">
            <li {% block nav-home %}{% endblock %}><a href="/">Home</a></li>
            <li {% block nav-instructions %}{% endblock %}><a href="/instructions">Instructions</a></li>
            <li {% block nav-makekluster %}{% endblock %}><a href="/makekluster">Make Kluster</a></li>
            <li {% block nav-insertcode %}{% endblock %}><a href="/insertcode">Insert Code</a></li>
            <li {% block nav-myKlusters %}{% endblock %}><a href="/myklusters">My Klusters</a></li>
          </ul>

      </div>

      </nav>

      <hr>


      {% block content %}{% endblock %}

  </div>
  <div id="footer">

    <div id="footer-content">
   <!--  <div class="footer-links">
      <div class="footer-link-list">
        <ul>
          <li class="link-label">Content</li>
          <li><a href="/">Home</a></li>
          <li><a href="/makekluster">Make Kluster</a></li>
          <li><a href="/myklusters">My Klusters</a></li>
        </ul>
      </div>
      <div class="footer-link-list">
        <ul>
          <li class="link-label">Instructions</li>
          <li><a href="/">CSV Formatting</a></li>
          <li><a href="/instructions">Distance Metrics</a></li>
        </ul>
      </div>
    </div> -->
 
 <div class="footer-logo">
        <img src="{% static "KlusterLogo.png" %}">
    </div>
<hr>

    <div id="footer-signoff">
        
          <center>
            <p>
              Fork us on <a href="https://github.com/twitecki/BioinformaticsClustering">Github</a>
              <br>
              Made by <a href="https://github.com/twitecki">Thomas Witecki</a> and <a href="https://github.com/gmiesch">Garrett Miesch</a>

            </p>
          </center>
      </div>
    </div>
  </div>




</body>

</html>
