{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "styles.css" %}" >
  <link rel="stylesheet" href="{% static "dendrogram.css" %}" >
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
  <div id="wrapper">
    <header>
      <h1> Some Header  </h1>
    </header>
      <nav>
        <ul class="nav-pills navbar-right">
          <li {% block nav-home %}{% endblock %}><a href="/">Home</a></li>
          <li {% block nav-instructions %}{% endblock %}><a href="/instructions">Instructions</a></li>
          <li {% block nav-makekluster %}{% endblock %}><a href="/makekluster">Make Kluster</a></li>
          <li {% block nav-myKlusters %}{% endblock %}><a href="/myklusters">My Klusters <span class="badge">1</span></a></li>
        </ul>
      </nav>
      
      {% block content %}{% endblock %}

      <div id="footer">
          <h1> This is the footer </h1>
      </div>

  </div>

</body>

</html>
