{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Data Clustering Home
{% endblock %}

{% block nav-home %}
class="active"
{% endblock %}

{% block content %}
<article>
	<section>
    	<h2> About Clustering </h2>
	    <p>
	    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis nulla dolor, eu bibendum purus venenatis eget. Cras gravida egestas felis, quis dapibus nulla vulputate ut. Duis placerat, augue vel hendrerit porttitor, urna lectus scelerisque elit, sit amet auctor justo neque quis ante. Proin arcu velit, volutpat vitae urna quis, pretium viverra quam. Nunc mollis consequat rhoncus. Aliquam erat volutpat. Cras risus dui, venenatis nec ligula quis, aliquam hendrerit arcu. Cras ac aliquam tellus. Duis vel egestas nulla. Mauris semper elementum est, nec maximus est porttitor et. Morbi nec imperdiet nibh, a efficitur diam. In et dolor magna. Maecenas porta, odio eu suscipit tempor, mi sapien pretium purus, vel porttitor risus magna et neque. Ut quis justo ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis nulla dolor, eu bibendum purus venenatis eget. 
	    </p>
	    <p>
	    	Cras gravida egestas felis, quis dapibus nulla vulputate ut. Duis placerat, augue vel hendrerit porttitor, urna lectus scelerisque elit, sit amet auctor justo neque quis ante. Proin arcu velit, volutpat vitae urna quis, pretium viverra quam. Nunc mollis consequat rhoncus. Aliquam erat volutpat. Cras risus dui, venenatis nec ligula quis, aliquam hendrerit arcu. Cras ac aliquam tellus. Duis vel egestas nulla. Mauris semper elementum est, nec maximus est porttitor et. Morbi nec imperdiet nibh, a efficitur diam. In et dolor magna. Maecenas porta, odio eu suscipit tempor, mi sapien pretium purus, vel porttitor risus magna et neque. Ut quis justo ex.
	    </p>
	</section>
	<section>
    <h2> Clustering Applications </h2>
    <p>
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis nulla dolor, eu bibendum purus venenatis eget. Cras gravida egestas felis, quis dapibus nulla vulputate ut. Duis placerat, augue vel hendrerit porttitor, urna lectus scelerisque elit, sit amet auctor justo neque quis ante. Proin arcu velit, volutpat vitae urna quis, pretium viverra quam. Nunc mollis consequat rhoncus. Aliquam erat volutpat. Cras risus dui, venenatis nec ligula quis, aliquam hendrerit arcu. Cras ac aliquam tellus. Duis vel egestas nulla. Mauris semper elementum est, nec maximus est porttitor et. Morbi nec imperdiet nibh, a efficitur diam. In et dolor magna. Maecenas porta, odio eu suscipit tempor, mi sapien pretium purus, vel porttitor risus magna et neque. Ut quis justo ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis nulla dolor, eu bibendum purus venenatis eget. 
    </p>
    <p>
    	Cras gravida egestas felis, quis dapibus nulla vulputate ut. Duis placerat, augue vel hendrerit porttitor, urna lectus scelerisque elit, sit amet auctor justo neque quis ante. Proin arcu velit, volutpat vitae urna quis, pretium viverra quam. Nunc mollis consequat rhoncus. Aliquam erat volutpat. Cras risus dui, venenatis nec ligula quis, aliquam hendrerit arcu. Cras ac aliquam tellus. Duis vel egestas nulla. Mauris semper elementum est, nec maximus est porttitor et. Morbi nec imperdiet nibh, a efficitur diam. In et dolor magna. Maecenas porta, odio eu suscipit tempor, mi sapien pretium purus, vel porttitor risus magna et neque. Ut quis justo ex.
    </p>
	</section>
</article>


{% endblock %}
