{% extends "base.html" %}

{% block title %}
Create Cluster
{% endblock %}

{% block nav-makekluster %}
class="active"
{% endblock %}

{% block content %}


<article>

  <section>
    
  	   <h2> Create Kluster </h2>
      <br>
      <div class="clustering-form-container">
      <div class="clustering-form">

  	         <form role="form" action="/myklusters" method="post" id="createkluster" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">

                <label for="fileInput">CSV File:</label>
                <input id="uploadbutton" class="form-control" type="file" value="Choose File" name="file" id="fileInput" accept="text/csv" />

                

            </div>

            <div class="form-group">

                <label for="linkagetype">Linkage Type:</label>
                    <select class="form-control" form="createkluster" name="linkagetype">
                         <option value="single" >Single </option>
                         <option value="complete">Complete</option>
                         <option value="average">Average</option>
                    </select>
            </div>

            <div class="form-group">
  	        

                <label for="map">Map Klustering:</label>
                <select class="form-control" form="createkluster" name="map">
                      <option value="no">No</option>
                     <option value="yes" >Yes </option>                 
                </select>

            </div>

            <div class="form-group">

                <label for="distanceMetric">Distance Metric:</label>
                <select class="form-control" form="createkluster" name="distanceMetric">
                     <option value="euclidean" >Euclidean</option>
                     <option value="nn">Nearest Neighbor</option>
                </select>

            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Kluster</button>
            </div>
            </form>

      </div>
    </div>
  </section>

  <br>
  <hr class="ResultsDivider">
    
  <section>

    <h2> Klustering Results </h2>

  </section>

</article>

{% endblock %}

{% block footer %}

{% endblock %}
