{% extends "base.html" %}

{% block title %}
Create Cluster
{% endblock %}

{% block nav-makekluster %}
class="active"
{% endblock %}

{% block content %}


<article>

  <section>
    
  	   <h2> Create Kluster </h2>
      <br>
      <div class="clustering-form-container">
      <div class="clustering-form">

  	         <form role="form" id="createkluster" enctype="multipart/form-data">

            <div class="form-group">

                <label for="fileInput">CSV File:</label>
                <input id="uploadbutton" class="form-control" type="file" value="Choose File" name="file" id="fileInput" accept="text/csv" />

            </div>

            <div class="form-group">

                <label for="linkagetype">Linkage Type:</label>
                    <select class="form-control" form="createkluster" name="linkagetype">
                         <option value="single" >Single </option>
                         <option value="complete">Complete</option>
                         <option value="average">Average</option>
                    </select>
            </div>

            <div class="form-group">
  	        

                <label for="map">Map Klustering:</label>
                <select class="form-control" form="createkluster" name="map">
                      <option value="no">No</option>
                     <option value="yes" >Yes </option>                 
                </select>

            </div>

            <div class="form-group">

                <label for="distanceMetric">Distance Metric:</label>
                <select class="form-control" form="createkluster" name="distanceMetric">
                     <option value="Euclidean" >Euclidean</option>
                     <option value="Pearson">Pearson Correlation</option>
                </select>

            </div>

            <div class="form-group">
              <button type="submit" onclick="createkluster()" class="btn btn-primary">Kluster</button>
            </div>

            </form>

            <script>
              function createkluster() {
                //Add Spinner
                var spinner = document.createElement("div");
                spinner.setAttribute("class", "loader");
                document.getElementById('dendrogram').appendChild(spinner);

                setTimeout(function() {

                var form = document.getElementById('createkluster');
                var formData = new FormData(form);
                var http = new XMLHttpRequest();
                var url = "http://www.kluster.me/createkluster";
                http.open( "POST", url, false );
                http.send(formData);
                //http.send(null);
                //The response should be in json
                var rText = http.responseText;
                //alert(rText);
                if (rText == "timeout") {
                    document.getElementById('dendrogram').removeChild(spinner);
                    var hr = document.createElement("hr");
                    var h2 = document.createElement("h2");
                    h2.setAttribute("class", "timeout-error")
                    h2.innerHTML = "The klustering timed out. The file may be too large";
                    document.getElementById('dendrogram').appendChild(hr);
                    document.getElementById('dendrogram').appendChild(h2);
                } else if (rText == "fileError") {
                    document.getElementById('dendrogram').removeChild(spinner);
                    var hr = document.createElement("hr");
                    var h2 = document.createElement("h2");
                    h2.setAttribute("class", "timeout-error")
                    h2.innerHTML = "There is an error in your CSV file, make sure it is in the right format.";
                    document.getElementById('dendrogram').appendChild(hr);
                    document.getElementById('dendrogram').appendChild(h2);
                } else if (rText == "noFile") {
                    document.getElementById('dendrogram').removeChild(spinner);
                    var hr = document.createElement("hr");
                    var h2 = document.createElement("h2");
                    h2.setAttribute("class", "timeout-error")
                    h2.innerHTML = "You need to upload a file to cluster";
                    document.getElementById('dendrogram').appendChild(hr);
                    document.getElementById('dendrogram').appendChild(h2);
                } else {
                //alert(rText);
                var response = JSON.parse(rText);
                var jsonCode = response.fields.JSON;
                var klusterCode = response.fields.code;
                var dType = response.fields.distanceMetric;
                //alert(jsonCode);
                //alert(klusterCode);
                //alert(dType);
                // http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                // http.setRequestHeader("Content-length", params.length);
                // http.setRequestHeader("Connection", "close");

                //Remove Spinner
                document.getElementById('dendrogram').removeChild(spinner);
                displayKluster(jsonCode, klusterCode, dType);

              }

                }, 500);
                event.preventDefault();
              }
          </script>
      </div>
    </div>
  </section>
    
  <section>

    
    <div class="klusterView" id="dendrogram">
          <script>
          
            function displayKluster(jsonCode, klusterCode, dType) {
              var hr = document.createElement("hr");
              var h2 = document.createElement("h2");

              var details = document.createElement("h3");
              kCode = "<strong>Kluster Code:</strong> ".concat(klusterCode);
              metric = " <strong>Distance Metric:</strong> ".concat(dType);
              details.innerHTML = kCode.concat(metric);

              h2.innerHTML = "Klustering Results";
          document.getElementById('dendrogram').appendChild(hr);
          document.getElementById('dendrogram').appendChild(h2);
          document.getElementById('dendrogram').appendChild(details);

              var width = 960;
      var height = 700;

var root = JSON.parse(jsonCode);
var tempRoot = JSON.parse(jsonCode);

var tempCluster = d3.layout.cluster();
var tempNodes = tempCluster.nodes(tempRoot);
var numNodes = tempNodes.length;
      alert(numNodes);
if (numNodes > 50) {
        height = 2000;
} 
if (numNodes > 150) {
        height = 8000;
} 
if (numNodes > 1000) {
        height = 30000;
}
    //var width = $(document).width() - 100;
    //var height = $(document).height() - 100;
var cluster = d3.layout.cluster()
  .size([height, width]);
    
    var xs = [];   
var ys = [];   
   getXYfromJSONTree(root);
  var nodes = cluster.nodes(root),
      links = cluster.links(nodes);
      


var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [x(d.y), d.x]; });
var svg = d3.select("#dendrogram").append("svg")
    .attr("width", width+100)
    .attr("height", height+100)
  .append("g")
    .attr("transform", "translate(50,30)");

function getXYfromJSONTree(node){           
   xs.push(node.x);          
   ys.push(node.y);           
   if(typeof node.children != 'undefined'){                   
      for ( j in node.children){                           
         getXYfromJSONTree(node.children[j]);                   
      }           
   }   
}
function elbow(d, i) {
  return "M" + x(d.source.y) + "," + d.source.x
      + "V" + d.target.x + "H" + x(d.target.y);
}   
var ymax = Number.MIN_VALUE;   
var ymin = Number.MAX_VALUE;   

   nodes.forEach( function(d,i){                   
      if(typeof xs[i] != 'undefined'){                           
         d.x = xs[i];                   
      }                   
      if(typeof ys[i] != 'undefined'){                           
         d.y = ys[i];                   
      }           
   });           
   nodes.forEach( function(d){                   
      if(d.y > ymax)
         ymax = d.y;
      if(d.y < ymin)                           
         ymin = d.y;           
   });           
   x = d3.scale.linear().domain([ymin, ymax]).range([0, width-100]);           
   xinv = d3.scale.linear().domain([ymax, ymin]).range([0, width-100]);   
  var link = svg.selectAll(".link")
      .data(links)
    .enter().append("path")
      .attr("class", "link")
      .attr("d", elbow);
  var node = svg.selectAll(".node")
      .data(nodes)
    .enter().append("g")
      .attr("class", "node")
      .attr("class", function(n) {
          if (n.children) {
            return "node inner"
          } else {
            return "node leaf"
          }
        })
      .attr("transform", function(d) { return "translate(" + x(d.y) + "," + d.x + ")"; })
  node.append("circle")
      .attr("r", 7.5);
  node.append("text")
      .attr("dx", function(d) { return d.children ? -10 : 10; })
      .attr("dy", 3)
      .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
      .text(function(d) { return d.name; });   

            }
          </script>
        </div>

  </section>

</article>

{% endblock %}

{% block footer %}

{% endblock %}
